.filter__form {
    padding: 3rem;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    select {
        width: 15rem;
        font-size: 1.2rem;
        border: none;
        margin: 0.2rem;
    }
    button {
        border: none;
        margin-top: 1rem;
        padding: 0.5rem;
        width: 5rem;
        &:hover {
            background-color: black;
            color: white;
            border: white solid 0.1rem;
        }
    }
}