.App__Footer {
    background-color: black;
    height: 10rem;
    margin-top: 5rem;
  }
  
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    list-style: none;
    color: white;
  }