.App__Header {
    background-color: white;
    height: 60vh;
    position: relative;
    background-image: url("https://wallpapers-hub.art/wallpaper-images/782445.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }