.login__container,
.signup__container {
    max-width: 50rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    padding: 5rem;
    h1 {
        width: 50%;
        margin: 2rem auto;
    }
    .login__form,
    .signup__form {
        display: flex;
        flex-direction: column;
        input,
        label,
        button {
            width: 50%;
            margin: 0 auto;
        }
        input {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        button {
            border: none;
            width: 5rem;
            height: 2rem;
            margin-top: 2rem;
            &:hover {
                background-color: black;
                border: solid 0.1rem white;
                color: white;
            }
        }
    }
}